<h1 class="ml-4">たんぱくデータの登録</h1>

<div class="error">
  <% if @post.errors.any? %>
    <%= @msg %>
  <% end %>
</div>

<%= form_for(@post, url:{controller:'posts', action:'create'}) do |form| %>
    <div class="form-group">
      <div class="col-sm">
        <form>
          <div class="row ml-1">
            <div class="form-group col-sm-6">       
              <label for="name">商品名</label>
              <%= form.text_field :name,{class:"form-control"} %>
            </div>
          </div>  
          <div class="row ml-1">
            <div class="form-group col-sm-6">
              <label for="protein">プロテイン(g)</label>
              <%= form.text_field :protein,{class:"form-control"} %>
            </div>
          </div>
          <div class="row ml-1">
            <div class="form-group col-sm-6">
              <label for="price">価格</label>
              <%= form.text_field :price,{class:"form-control"} %>
            </div>
          </div>  
          <div class="row ml-1">
            <div class="form-group col-sm-6">
              <label for="memo">メモ</label>
              <%= form.text_area :memo,{class:"form-control"} %>
            </div>
          </div>  
          <div class="ml-3">
            <%= form.submit "保存" %>
          </div>
        </form>    
      </div>  
    </div>  
<% end %>
<div class="ml-4">
  <%= link_to("トップページに戻る","/posts")%>
</div>