<h1 class="application-name">あなたのタンパク図鑑</h1>

<h2>カテゴリ：<%= @category.name %></h2>

<% if current_account.id == 1 %>
  <p class="warnings">※ ゲストモードでは投稿の削除を行うことができません。</p>
<% end %>

<div>
  <table class="table">
        <tr>
          <th>商品名</th><th>タンパク質</th><th>価格</th><th>メモ</th>
        </tr>

    <% @posts.each do |post| %>
        <tr>
          <% if post.account == current_account %>
            <div class="content">
              <td class="food"><%= link_to(post.name,"/posts/#{post.id}") %></td>
              <td><%= post.protein %>g</td>
              <td><%= post.price %>円</td>
              <td class="memo"><%= post.memo %></td>
            </div>
              <td><%= link_to("編集","/posts/edit/#{post.id}") %></td>
              <td><%= link_to("削除","/posts/delete/#{post.id}",{method:"post"}) %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>
