<h1>詳細データ</h1>
<table class="table">
  <tr><th width="200">商品名</th>
    <td class="food"><%= @post.name %></td></tr>
  <tr><th>タンパク質(g)</th>
    <td><%= @post.protein %>g</td></tr>
  <tr><th>価格</th>
    <td><%= @post.price %>円</td></tr>
  <tr><th>カテゴリ</th>
    <td><%= @post.category.name %></td></tr>
  <tr><th>コメント</th>
    <td><%= @post.memo %></td></tr>
</table>