<!DOCTYPE html>
<html>
  <head>
    <title>ProteinCollector</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=header>  
    <% if account_signed_in? %>
      <%= link_to("新規投稿","/posts/add")%>
      <%= link_to("ログアウト","/accounts/sign_out",{method: :delete}) %>
      <%=link_to "投稿一覧","/posts" %>
      <%=link_to "カテゴリ編集","/categories/index" %>
      <%=link_to "カテゴリ追加","/categories/new" %>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>